<?xml version="1.0"?>
<launch>
    <arg name="path" default="/home/amsl/catkin_ws/src/rwrc23"/>

    <include file="$(arg path)/launch/common/default_full.launch">
        <!-- MAP LOAD -->
        <!-- <arg name="map_pcd" default="/home/amsl/pcd/iias_tsukuba.pcd"/> -->
        <arg name="map_pcd" default="/home/amsl/pcd/iias_after_crcr.pcd"/>
        <!-- <arg name="map_pcd" default="/share/PCD/tsukuba/iias_after_crcr.pcd"/> -->
        <!-- <arg name="node_edge_map" default="$(arg path)/map/graph/iias_tsukuba_map.yaml"/> -->
        <arg name="node_edge_map" default="$(arg path)/map/graph/iias_tsukuba_graph.yaml"/>


        <!-- !!!!!!!!!! SELECT COURSE !!!!!!!!!! -->
        <!-- circuit 1 -->
        <!-- <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_circuit1_checkpoints.yaml"/> -->
        <!-- <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_circuit1_task.yaml"/> -->
        <!-- circuit 2 -->
        <!-- <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_circuit2_checkpoints.yaml"/> -->
        <!-- <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_circuit2_task.yaml"/> -->
        <!-- circuit 3 -->
        <!-- <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_circuit3_checkpoints.yaml"/> -->
        <!-- <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_circuit3_task.yaml"/> -->
        <!-- circuit 4 -->
        <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_circuit4_checkpoints.yaml"/>
        <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_circuit4_task.yaml"/>
        <!-- <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_circuit4_checkpoints_2.yaml"/> -->
        <!-- <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_circuit4_task_2.yaml"/> -->
        <!-- course 1 -->
        <!-- <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_course1_checkpoints.yaml"/> -->
        <!-- <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_course1_task.yaml"/> -->
        <!-- course 2 -->
        <!-- <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_course2_checkpoints.yaml"/> -->
        <!-- <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_course2_task.yaml"/> -->
        <!-- course 3 -->
        <!-- <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_course3_checkpoints.yaml"/> -->
        <!-- <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_course3_task.yaml"/> -->
        <!-- course 4 -->
        <!-- <arg name="checkpoint" default="$(arg path)/map/checkpoint/ex_challenge/iias_course4_checkpoints.yaml"/> -->
        <!-- <arg name="task_list" default="$(arg path)/map/task/ex_challenge/iias_course4_task.yaml"/> -->


        <!-- !!!!!!!!!! LOCALIZER METHOD !!!!!!!!!! -->
        <!-- "ndt" or "mcl_with_imu" or "mcl_no_imu" -->
        <arg name="localizer_3d/localization_method" default="ndt"/>
        <arg name="localizer_3d/use_static_clouds" default="true"/>

        <!-- NO NEED TO CHANGE -->
        <arg name="start_node_id" default="0"/>
        <arg name="goal_node_id" default="2023"/>
        <arg name="stop_list" default="$(arg path)/map/stop/no_stop.yaml"/>
        <arg name="use_road_publisher" default="false"/>
        <arg name="use_stop_line_detector" default="false"/>
        <arg name="width_list" default=""/>
        <arg name="local_map_expansion" default="0.05"/>
    </include>


    <!-- !!!!!!!!!! INIT POSE !!!!!!!!!! -->
    <node pkg="rostopic" type="rostopic" name="init_pose"
        args="pub -1 /initialpose geometry_msgs/PoseWithCovarianceStamped &quot;{
        header: {
        frame_id: &quot;map&quot;
        },
        pose: {
        pose: {
        position: {
        x: 2.6,
        y: -4.4,
        z: 0.0
        },
        orientation: {
        x: 0.0,
        y: 0.0,
        z: 0.0,
        w: 1.0
        }
        }
        }
        }&quot;" />
</launch>
