<?xml version="1.0"?>

<launch>
    <arg name="bagfile" default="/home/amsl/bagfiles/rwrc23/traffic_light/traffic_light_test.bag"/>

    <!-- <node pkg="rosnode" type="rosnode" name="kill_webcam" args="kill /grasscam"/> -->
    <node pkg="rosbag" type="play" name="play_traffic_light_bag" output="screen" args="
        $(arg bagfile)
        -r 1.0
        ">
    </node>
</launch>
