<?xml version="1.0"?>
<launch>
    <arg name="start" default="1000"/>
    <!-- <remap from="/grasscam/image_raw/compressed" to="/realsense/color/image_raw/compressed"/> -->
    <!-- bagrec -->
    <include file="$(find rwrc23)/launch/common/bagrec.launch"/>

    <!-- main process -->
    <include file="$(find rwrc23)/launch/common/default_full.launch">
        <!-- you should change following params -->
        <arg name="stop_line_param" value="$(find rwrc23)/config/param/stop_line_detector/tsukuba_sunny.yaml"/>
        <!-- <arg name="stop_line_param" value="$(find rwrc23)/config/param/stop_line_detector/tsukuba_cloudy.yaml"/> -->

        <!-- common -->
        <arg name="start_node_id" value="$(arg start)"/>
        <arg name="checkpoint" value="$(find rwrc23)/map/checkpoint/tsukuba_checkpoints.yaml"/>
        <arg name="task_list" value="$(find rwrc23)/map/task/tsukuba_task.yaml"/>
        <arg name="stop_list" value="$(find rwrc23)/map/stop/tsukuba_stop.yaml"/>
        <arg name="use_stop_line_detector" value="true"/>
        <arg name="local_goal_dist" value="4.0"/>
        <arg name="local_map_expansion" value="0.075"/>
        <arg name="planner_hz" value="20"/>
        <!-- Localizer method -->
        <arg name="localizer_3d/localization_method" value="ndt"/> <!-- ndt or mcl_with_imu or mcl_no_imu-->
        <arg name="localizer_3d/use_static_clouds" value="false"/>
        <!-- map -->
        <arg name="map_pcd" value="/home/amsl/pcd/tsukuba.pcd"/>
        <arg name="node_edge_map" value="$(find rwrc23)/map/graph/tsukuba_graph.yaml"/>
        <!-- rviz -->
        <arg name="rviz_conf" value="$(find rwrc23)/config/rviz/rviz.rviz"/>
    </include>
</launch>
